@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textarea {
    @apply w-full rounded-lg border-0 bg-white/40 p-2 font-mono text-black placeholder:text-slate-400 focus:border-green-500 focus:ring-green-300 active:border-green-500 dark:bg-black/40 dark:text-white dark:placeholder:text-slate-200;
  }
  .input {
    @apply w-full max-w-full rounded-md border-2 border-green-300 bg-white/60 px-2 py-4 focus:border-green-500 focus:outline-none focus:ring-green-300 focus-visible:border-green-500  active:border-green-500 dark:bg-black/60 dark:text-white dark:placeholder:text-slate-300 md:w-[40rem];
  }
  .select {
    @apply h-12 rounded-md border-2 border-black bg-white px-2;
  }
  .label {
    @apply mb-4 block text-2xl;
  }
}

.printer-loader {
  position: relative;
  width: 120px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle 2.5px, #ff3d00 100%, transparent 0),
    linear-gradient(#525252 90px, transparent 0),
    linear-gradient(#ececec 120px, transparent 0),
    linear-gradient(to right, #eee 10%, #333 10%, #333 90%, #eee 90%);

  background-size: 5px 5px, 90px 10px, 120px 45px, 100px 15px;
  background-position: 110px 15px, center bottom, center bottom, center 0;
}
.printer-loader:before {
  content: "";
  width: 70px;
  background-color: #fff;
  box-shadow: 0 0 10px #0003;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: calc(100% - 10px);
  animation: printerPaper 4s ease-in infinite;
}
.printer-loader:after {
  content: "";
  width: 70px;
  height: 80px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 50%, #ff3d00 51%),
    linear-gradient(to bottom, #bbb 50%, #0000 51%);
  background-size: 60px 20px, 60px 10px;
  background-repeat: no-repeat, repeat-y;
  background-position: center 55px, center 0;
  position: absolute;
  left: 50%;
  transform: translatex(-50%) rotate(180deg);
  box-shadow: 0 10px #fff inset;
  top: calc(100% - 8px);
  animation: PrintedPaper 4s ease-in infinite;
}

@keyframes printerPaper {
  0%,
  25% {
    height: 50px;
  }
  75%,
  100% {
    height: 0;
  }
}

@keyframes PrintedPaper {
  0%,
  30% {
    height: 0px;
    top: calc(100% - 8px);
  }

  80% {
    height: 80px;
    top: calc(100% - 8px);
    opacity: 1;
  }
  100% {
    height: 80px;
    top: calc(100% + 10px);
    opacity: 0;
  }
}

.player-loader {
  margin: auto;
  width: 100px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0px 35px 0 -5px #aaa, 0 -5px 0 0px #ddd, 0 -25px 0 -5px #fff,
    -25px -30px 0 0px #ddd, -25px 30px 0 0px #ddd, 25px -30px 0 0px #ddd,
    25px 30px 0 0px #ddd, 20px 10px 0 5px #ddd, 20px -10px 0 5px #ddd,
    -20px -10px 0 5px #ddd, -20px 10px 0 5px #ddd;
}
.player-loader:after,
.player-loader:before {
  content: "";
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  border: 4px dashed #fff;
  bottom: -4px;
  transform: rotate(0deg);
  box-sizing: border-box;
  animation: tape 4s linear infinite;
}
.player-loader:before {
  right: 0;
  box-shadow: 0 0 0 4px #fff, 0 0 0 34px #000;
}
.player-loader:after {
  left: 0;
  box-shadow: 0 0 0 4px #fff, 0 0 0 65px #000;
}

@keyframes tape {
  0% {
    transform: rotate(0deg) scale(0.4);
  }
  100% {
    transform: rotate(-360deg) scale(0.4);
  }
}

.bear-loader {
  width: 160px;
  height: 185px;
  position: relative;
  background: #fff;
  border-radius: 100px 100px 0 0;
}
.bear-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.bear-loader:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #fff 48%, transparent 50%),
    radial-gradient(circle, #fff 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.dot-loader:after {
  content: " .";
  animation: dots 2s steps(5, end) infinite;
}
.dark .dot-loader:after {
  animation: dots-dark 2s steps(5, end) infinite;
}

@keyframes dots-dark {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}
